**/.DS_Store
examples/.DS_Store

__pycache__/*
/__pycache__

/flagged/*
flagged/

venv_0151_Deployment_311_001_10_Labels_35_Percent copy.txt/
venv_0151_Deployment_311_001_10_Labels_35_Percent copy.txt

venv_0151_Deployment_311_001_10_Labels_35_Percent_Github.txt/
venv_0151_Deployment_311_001_10_Labels_35_Percent_Github.txt